<nav>
    <ul>
        <% if (user) { %>
            <!-- Show navigation for authenticated users -->
            <li><a href="/">View Map</a></li>
            <% if (user.isAdmin) { %>
                <!-- Show additional navigation for admin users -->
                <li><a href="/manage/locations">Manage Locations</a></li>
                <li><a href="/manage/users">Manage Users</a></li>
            <% } %>
            <li><a href="/auth/logout">Logout</a></li>
        <% } else { %>
            <!-- Show navigation for non-authenticated users -->
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Sign Up</a></li>
        <% } %>
    </ul>
</nav>
